<div class="contextual">
<% if @relations.present? %>
  <%= link_to "Consultar", issues_path(:set_filter => 1, :relates => @issue, :group_by => :project) %>
<% end %>
<% if User.current.allowed_to?(:manage_issue_relations, @project) and @relations.present? %>
  
<% end %>
<% if User.current.allowed_to?(:manage_issue_relations, @project) %>
  <%= toggle_link l(:button_add), 'new-relation-form', {:focus => 'relation_issue_to_id'} %>
<% end %>
</div>

<p><strong><%=l(:label_related_issues)%></strong></p>
<% @issue_count_by_group = "" %>

<% if @relations.present? %>

<% @query = IssueQuery.new(:name => "_", :filters => { 'relates' => {:operator => "=", :values => [@issue.id]} }, :group_by => :project, :column_names => [:tracker, :subject]) %>
<% @issue_count_by_group = @query.result_count_by_group %>
<% @issues = @query.issues(:order => :id) %>

<% @other_issues = [] %>
<% @relations.each do |relation| %>
  <% @other_issues << relation.other_issue(@issue) -%>
<% end %>
<% @other_issues -= @issues %>

<form>

<table class="list issues">
    <% grouped_issue_list(@issues, @query) do |issue, level, group_name, group_count, group_totals| -%>
    <% if group_name %>
      <% reset_cycle %>
      <tr class="group open">
        <td colspan="<%= @query.inline_columns.size + 2 %>">
          <span class="expander" onclick="toggleRowGroup(this);">&nbsp;</span>
          <span class="name"><%= group_name %></span> <span class="count"><%= group_count %></span> <span class="totals"><%= group_totals %></span>
          <%= link_to_function("#{l(:button_collapse_all)}/#{l(:button_expand_all)}",
                               "toggleAllRowGroups(this)", :class => 'toggle-all') %>
        </td>
      </tr>
    <% end %>
    <% relation = @relations.find {|item| item.other_issue(@issue)==issue}%>
    <tr  id="relation-<%= relation.id %>" class="issue hascontextmenu <%= issue.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
      <td class="checkbox hide-when-print"><%= check_box_tag("ids[]", issue.id, false, :id => nil) %></td>
      <td class="subject">
        <%= l(relation.label_for issue) %>
        <%= link_to_issue(issue) %>
      </td>
      <td class="buttons"><%= link_to image_tag('link_break.png'),
                                      relation_path(relation),
                                      :remote => true,
                                      :method => :delete,
                                      :data => {:confirm => l(:text_are_you_sure)},
                                      :title => l(:label_relation_delete) if User.current.allowed_to?(:manage_issue_relations, @project) %></td>
    </tr>
    <% end %>
</table>

<% if not @other_issues.empty? %>
<p style="margin-bottom: 0.4em;"><strong><%=l(:label_other_related_issues)%></strong></p>

<table class="list issues">
    <% @other_issues.each do |other_issue| %>
        <% relation = @relations.find {|item| item.other_issue(@issue)==other_issue}%>
        <tr class="issue hascontextmenu" id="relation-<%= relation.id %>">
        <td class="checkbox hide-when-print"><%= check_box_tag("ids[]", other_issue.id, false, :id => nil) %></td>
        <td class="subject" style="width: 50%">
            <%= relation.to_s(@issue) {|other| link_to_issue(other, :project => Setting.cross_project_issue_relations?)}.html_safe %>
        </td>
        <td class="buttons"><%= link_to image_tag('link_break.png'),
                                        relation_path(relation),
                                        :remote => true,
                                        :method => :delete,
                                        :data => {:confirm => l(:text_are_you_sure)},
                                        :title => l(:label_relation_delete) if User.current.allowed_to?(:manage_issue_relations, @project) %></td>
        </tr>
    <% end %>
</table>

<% end %>

</form>
<% end %>

<%= form_for @relation, {
                 :as => :relation, :remote => true,
                 :url => issue_relations_path(@issue),
                 :method => :post,
                 :html => {:id => 'new-relation-form', :style => 'display: none;'}
               } do |f| %>
<%= render :partial => 'issue_relations/form', :locals => {:f => f}%>
<% end %>
