
<div class="contextual">
<% if User.current.allowed_to?(:manage_issue_relations, @project) %>
  <%= toggle_link l(:button_add), 'new-relation-form', {:focus => 'relation_issue_to_id'} %>
<% end %>
</div>

<p><strong><%=l(:label_related_issues)%></strong></p>

<% if @relations.present? %>
<% @query = IssueQuery.new(:name => "_", :filters => [session[:query][:filters]], :group_by => session[:query][:group_by], :column_names => session[:query][:column_names]) %>
<% @query = IssueQuery.new(:name => "_", :filters => { 'relates' => {:operator => "=", :values => [@issue.id]} }, :group_by => :project, :column_names => [:tracker, :subject]) %>
<% @issue_count_by_group = @query.issue_count_by_group %>
<% @issues = @query.issues(:include => [:assigned_to, :tracker, :priority, :category, :fixed_version],
                              :order => sort_clause,
                              :offset => @offset,
                              :limit => @limit) %>
<%= render :partial => 'issues/list', :locals => {:issues => @issues, :query => @query} %>
<form>
<table class="list issues">
<% @relations.each do |relation| %>
  <% other_issue = relation.other_issue(@issue) -%>
  <tr class="issue hascontextmenu <%= other_issue.css_classes %>" id="relation-<%= relation.id %>">
  <td class="checkbox"><%= check_box_tag("ids[]", other_issue.id, false, :id => nil) %></td>
  <td class="subject">
    <%= relation.to_s(@issue) {|other| link_to_issue(other, :project => false)}.html_safe %>
  </td>
  <td class="buttons"><%= link_to(l(:label_relation_delete),
                                  relation_path(relation),
                                  :remote => true,
                                  :method => :delete,
                                  :data => {:confirm => l(:text_are_you_sure)},
                                  :title => l(:label_relation_delete),
                                  :class => 'icon-only icon-link-break'
                                 ) if User.current.allowed_to?(:manage_issue_relations, @project) %></td>
  </tr>
<% end %>
</table>
</form>
<% end %>

<%= form_for @relation, {
                 :as => :relation, :remote => true,
                 :url => issue_relations_path(@issue),
                 :method => :post,
                 :html => {:id => 'new-relation-form', :style => 'display: none;'}
               } do |f| %>
<%= render :partial => 'issue_relations/form', :locals => {:f => f}%>
<% end %>
